@media (max-width: 1200px) {
    .hero__img {
        margin: 0;
        /* чтобы текст был по ширине равен изображению */
        max-width: 377px;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 20px;
    }

    /* ============================== */

    .program__top {
        flex-direction: column;
        align-items: stretch;
        gap: 30px 15px;
    }

    .tab-controls {
        flex-wrap: wrap;
    }

    /* ============================== */

    .footer__inner {
        justify-content: space-between;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(3, auto);
        gap: 40px 30px;
    }

    .footer__col:last-child {
        grid-column: 1/ -1;
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .about__img {
        grid-row: auto;
    }

    .about__grid {
        grid-column: 1 / -1;
    }

    .about__grid-item {
        max-width: 100%;
        justify-content: start;
    }

    .about__content {
        align-self: center;
    }

    /* ---------------------- */

    .accordion-list__control {
        padding: 25px 30px;
        font-size: 35px;
    }

    .accordion__content {
        gap: 30px;
        flex-direction: column;
    }
}

/* на ширине до 900px не будет навигации, но будет бургер-меню */
@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;
        max-height: 100%;

        transform: translateY(-50%);
        opacity: 0;
        /* чтобы нельзя было нажать */
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 4vh 40px;
    }

    /* чтобы оранжевые кружки не появлялись в бургер-навигации */
    .nav__link:HOVER::before {
        opacity: 0;
    }

    .nav__link {
        transition: var(--transition);
        transform: scale(1);
        display: inline-block;
    }

    .nav__link:HOVER {
        transform: scale(1.2);
        color: var(--accent-color);
    }

    .burger-icon {
        display: flex;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    /* =================================== */

    .about__inner {
        grid-template: none;
    }

    .about__img {
        max-width: 500px;
        justify-self: center;
    }

    .about__content {
        text-align: center;
    }

    .about__grid {
        grid-template: none;
    }

    /* ============================= */

    .program__action {
        max-width: none;
        grid-template-columns: minmax(260px, 1fr) 1fr;
    }

    .program__dicount {
        max-width: none;
    }

    .program__bottom-img {
        display: none;
    }

    /* ==================================== */

    .footer__inner {
        justify-content: center;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: repeat(1, auto);
        gap: 10px;
    }

    .footer__col {
        text-align: center;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin: 0 0 30px;
    }

    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    /* ----------------------- */

    .tab-controls {
        gap: 10px;
    }

    .tab-controls__link {
        padding: 10px 20px;
    }

    .accordion-content {
        gap: 30px;
        flex-direction: column;
    }

    .accordion-content__col:first-child {
        max-width: none;
    }

    .accordion-content__text {
        max-width: none;
    }
}

@media (max-width: 600px) {

    .main__about {
        padding-top: 60px;
    }

    .main__program {
        padding-top: 60px;
    }

    .title {
        font-size: 12vw;
    }

    /* =================================== */

    .header__hero {
        padding-bottom: 80px;
    }

    /* ================================= */

    .about__img-control {
        bottom: 0;
        right: 0;
        left: 0;
        max-width: none;
        border-radius: 0;
        padding: 10px 15px;
    }

    .about__grid {
        gap: 20px;
    }

    .about__grid-item {
        padding: 20px 15px;
    }

    /* ---------------------- */

    .program__title {
        text-align: center;
    }

    .program__top {
        text-align: center;
        margin-bottom: 20px;
    }

    .program__action {
        grid-template-rows: repeat(3, auto);
        gap: 15px;
    }

    .program__dicount {
        grid-row: auto;
        grid-column: 1 / -1;
        justify-self: center;
        width: 100%;
        text-align: center;
    }

    .program__dicount-text1 {
        margin: 0;
        margin-top: 20px;
    }

    .program__dicount-value {
        margin: 0;
        margin-top: 15px;
        animation: none;
    }

    .program__dicount-text2 {
        margin: 0;
        margin-top: 25px;
    }

    .program__price1 {
        text-align: center;
        margin: 0;
    }

    .program__price2 {
        text-align: center;
        margin: 0;
    }

    .program__price2-value {
        font-size: 32px;
    }

    .tab-controls {
        justify-content: center;
    }

    .accordion-list__item {
        margin-bottom: 10px;
    }

    .accordion-list__control {
        padding: 17px 30px;
        font-size: 28px;
    }

    .accordion-list__control-icon {
        width: 26px;
        height: 26px;
        border: 1px solid var(--accent-color);
    }

    .accordion-list__control-icon svg {
        width: 10px;
    }
}

@media (max-width: 480px) {
    .program__action {
        grid-template: none;
    }

    .program__price2 {
        grid-row: 3 / 4;
    }

    .program__button {
        grid-row: 4 / 5;
    }
}

@media (max-width: 450px) {
    .modal__window {
        padding: 0 15px 30px;
    }

    .modal__img {
        max-width: 60%;
    }

    /* -------------------- */

    .accordion-list__control {
        padding: 17px 15px;
    }

    .accordion-content {
        padding: 0 15px 30px;
    }

    .accordion-content__item {
        margin-bottom: 10px;
    }
}

@media (max-width: 400px) {
    .modal__title {
        margin-top: 100px;
    }
}