:root {
    --general-text: #312C27;
    --accent-text: #1F1711;
    --general-bg: #FFF9F4;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
    --transition: all .4s;
    --border-radius: 20px;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: var(--general-text);
    background: var(--general-bg);
}

.body--fixed {
    overflow: hidden;
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    /* чтобы точно всегда сайт был на весь viewport */

    overflow: hidden;

    display: flex;
    flex-direction: column;
    /* чтобы header и footer всегда прижимались к верху и низу */
}

.main {
    /* чтобы header и footer всегда прижимались к верху и низу */
    flex-grow: 1;
}

.main__about {
    padding-top: 140px;
}

.main__program {
    padding: 145px;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    color: var(--accent-text);
    font-family: "Gabriola";
    font-size: 74px;
    line-height: 0.82;
}

/* высоту кнопки лучше задавать через height а не через padding чтобы кнопка могла нормально уменьшаться */
.button {
    display: flex;
    width: 100%;
    height: 62px;
    justify-content: center;
    align-items: center;
    background: var(--accent-color);
    padding: 3px 15px;
    border-radius: 60px;
    line-height: 1.6;
    font-weight: 500;
    transition: all 0.4s;
}

.button:HOVER {
    background: #FF9138;
}

.modal {
    position: fixed;
    inset: 0;
    background: #00000071;
    z-index: 10;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.modal--opened {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    max-width: 428px;
    background: var(--general-bg);
    border-radius: var(--border-radius);
    padding: 0 60px 60px;
    position: relative;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal__cancel path {
    transition: var(--transition);
}

.modal__cancel rect {
    transition: var(--transition);
}

/* смотрим на код svg изображения */
.modal__cancel:HOVER path,
.modal__cancel:HOVER rect {
    stroke: #AC907A;
}

.modal__img {
    position: absolute;
    top: -65px;
    right: 108px;
    max-width: 100%;
}

.modal__title {
    margin-top: 133px;
    color: rgb(31, 23, 17);
    font-family: Gabriola;
    font-size: 42px;
    font-weight: 400;
    line-height: 90%;
}

.modal__text {
    margin-top: 10px;
}

.modal__form {
    margin-top: 30px;
}

.modal__form-label {
    margin-bottom: 10px;
}

.field {
    position: relative;
    display: block;
}

.field span {
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: #AC907A;

    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.field__input {
    display: block;
    width: 100%;
    max-width: 308px;
    padding: 19px 28px;
    background: transparent;
    border: 1px solid #AC907A;
    border-radius: 100px;
    margin-bottom: 10px;
    font-size: 16px;
    transition: var(--transition);
}

.field__input:HOVER {
    border-color: var(--accent-color);
}

.field__input::placeholder {
    color: #AC907A;
    transition: var(--transition);
}

.field__input:HOVER::placeholder {
    color: var(--accent-color);
}

.field__input:FOCUS {
    padding: 26px 42px 12px 28px;
    border-color: var(--accent-color);
}

.field__input:FOCUS::placeholder {
    color: var(--accent-color);
}

.field__input:FOCUS+span {
    opacity: 1;
    visibility: visible;
}

/* ======================================== */

.header {
    /* 50% чтобы всегда был виден цетр по Ox
    100% чобы всегда был виден низ по Oy */
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
    margin-top: 19px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    max-width: 174px;
    margin-right: 10px;
    z-index: 12;
}

.header__logo img {
    /* чтобы изображение слушалось максимальной ширины контейнера для логотипа */
    width: 100%;
}

.nav {
    max-height: 60px;
}

.nav__list {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-bottom: 7px;
    gap: 40px;
}

.nav__link {
    /* чтобы пользователю было удобнее попасть на ссылку */
    padding: 5px 0;
    position: relative;
    /* необходимо поднять ссылки на один уровень по оси z чтобы HOVER не скрывался за bg при z-index равным -1*/
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -11px;
    left: -15px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    z-index: -1;
    background: var(--accent-color);
    /* используем не display: none; тк display не подвержен свойству transition => плавного перехода не будет */
    opacity: 0;
    transition: var(--transition);
}

.nav__link:HOVER::before {
    opacity: 1;
}

.burger-icon {
    display: none;
    /* не размер иконки бургер-меню, а область кликабельности */
    width: 50px;
    height: 50px;
    /* display: flex указан у медиа-запроса */
    align-items: center;
    justify-content: center;
    z-index: 11;
}

/* иконка бургер меню (3 полоски) */
.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

/* размещение двух дополнительных полосок */
.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

/* делаем крестик (одну палку убираем, две другие поворачиваем) */
.body--opened-menu .burger-icon span {
    /* прозрачный */
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

.header__hero {
    padding: 50px 0px 140px;
}

/* ==================================== */

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* чтобы при сужении viewport элементы не сталкивались */
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__subtitle {
    color: #B197B3;
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.hero__subtitle span {
    display: flex;
    align-items: center;
}

.hero__subtitle span::after {
    content: '';
    background: #B197B3;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: block;
    /* задается расстояние между тегами span */
    margin: 0 10px;
}

.hero__subtitle span:last-child:after {
    content: none;
}

.hero__title {
    margin-bottom: 30px;
}

.hero__text {
    max-width: 360px;
    color: var(--general-text);
    margin-bottom: 40px;
}

/* создаем этот класс тк кнопка переиспользуется с другой шириной на странице */
.hero__button {
    max-width: 360px;
    width: 100%;
}

.hero__img {
    position: relative;
    margin-right: 247px;
}

/* только прямый потомок */
.hero__img>img {
    width: 100%;
}

.hero__img-control {
    position: absolute;
    bottom: 11%;
    left: 90%;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    text-align: left;
}

.hero__img-control--mobile {
    display: none;
}

.hero__img-button {
    /* элемент не будет сжиматься чтобы дать пространство другим элементам flexbox */
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-bg);
    box-shadow: 0px 4px 20px 0px #b8947e4d;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    /* чтобы расположить псевдоэлемент */
    position: relative;
}

.hero__img-button img {
    /* икнонка находилась не совсем по центру, поэтому выравняли ее через padding */
    padding-left: 8.8%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    /* заменяет собой сразу четыре свойства: top, right, bottom и left, позволяет указать смещение позиционированного элемента сразу со всех четырёх сторон (как бы растягиваем элемент) */
    inset: 5px;
    opacity: 0;
    transition: var(--transition);
}

.hero__img-button:HOVER:before {
    opacity: 1;
}

/* ========================================== */

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: repeat(2, auto);
    gap: 40px 53px;
}

.about__img {
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    grid-row: 1/-1;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 0% по Ox чтобы девушку всегда было видно */
    object-position: 0% 50%;
}

.about__img-control {
    position: absolute;
    bottom: 4.7%;
    left: 5%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;

    background: #957B97E6;
    max-width: 300px;
    border-radius: var(--border-radius);
    text-align: left;
    color: var(--general-bg);
}

.about__img-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--general-bg);
    box-shadow: 0px 4px 20px 0px #b8947e4d;
    position: relative;
}

.about__img-button::before {
    content: '';
    position: absolute;
    border: 1px solid #CEAAD0;
    border-radius: 50%;
    inset: 5px;
    cursor: pointer;

    opacity: 0;
    transition: var(--transition);
}

.about__img-button:HOVER:before {
    opacity: 1;
}

.about__title-text {
    color: var(--general-text);
    margin-bottom: 30px;
}

.about__text {
    color: var(--general-text);
}

.about__grid {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
}

.about__grid-item {
    background: var(--accent-bg);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    padding: 29px 24px;
    gap: 15px;
}

.about__grid-img {
    border: 1px solid var(--general-text);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ======================================= */

.program__top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 60px;
}

.program__title {
    margin-bottom: 20px;
}

.program__text {
    color: var(--general-text);
    font-family: "Montserrat";
}

.tab-controls {
    display: flex;
    gap: 26px;
}

.tab-controls__link {
    display: block;
    box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0.3);
    border-radius: 100px;
    padding: 14px 30px;
    transition: var(--transition);
}

.tab-controls__link:HOVER {
    background: #FFE0CB;
}

.tab-controls__link--active {
    background: #FFE0CB;
    box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0);
}

.tab-content {
    display: none;
}

.tab-content--show {
    display: block;
}

.accordion-list__item {
    margin-bottom: 30px;
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);

}

.accordion-list__item:last-child {
    margin-bottom: 0px;
}

.accordion-list__control {
    padding: 41px 30px;
    display: block;
    width: 100%;
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: "Gabriola";
    font-size: 42px;
    line-height: .9;
    color: var(--accent-text);
}

.accordion-list__control-icon {
    width: 36px;
    height: 36px;
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--transition);
}

.accordion-list__control-icon path {
    transition: var(--transition);
}

.accordion-list__control:HOVER .accordion-list__control-icon {
    background: var(--accent-color);
    transform: rotate(90deg);
}

.accordion-list__control:HOVER .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__item--opened .accordion-list__control-icon {
    background: var(--accent-color);
    transform: rotate(90deg);
}

.accordion-list__item-opened .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.accordion-content {
    padding: 0 30px 40px;
    display: flex;
    gap: 80px;
}

.accordion-content__col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content__title {
    color: #CEAAD0;
    line-height: 1.6;
}

.accordion-content__list {}

.accordion-content__item {
    margin-bottom: 20px;
}

.accordion-content__item:last-child {
    margin-bottom: 0;
}

.accordion-content__icon {
    width: 24px;
    height: 24px;
    border: 1px solid #CEAAD0;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
}

.accordion-content__text {}













/* ============================================ */

.footer {
    background: #AB8261;
    color: var(--general-bg);
    padding: 34px 66px;
}

.footer__inner {
    display: grid;
    gap: 30px;
    grid-template-columns: .9fr .9fr 1.1fr auto;
    justify-content: space-between;
}

.footer__logo {
    display: block;
    max-width: 240px;
    margin-bottom: 4px;
}

.footer__logo img {
    width: 100%;
}

.footer__logo-text {
    margin-bottom: 23px;
}

.footer__col-list {
    margin-top: 26px;
}

.footer__col-item {
    margin-bottom: 10px;
}

.footer__col-item:last-child {
    margin-bottom: 0;
}

.footer__col-link {
    display: inline-block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.footer__col-link::before {
    content: '';
    position: absolute;
    top: -11px;
    left: -15px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    z-index: -1;
    background: var(--accent-color);
    /* используем не display: none; тк display не подвержен свойству transition => плавного перехода не будет */
    opacity: 0;
    transition: var(--transition);
}

.footer__col-link:HOVER::before {
    opacity: 1;
}

.footer__contact-list {
    margin-top: 26px;
}

.footer__contact-item {
    margin-bottom: 10px;
}

.footer__contact-item:last-child {
    margin-bottom: 0;
}

.footer__col-tel {
    margin-top: 26px;
}

.footer__col-number {
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 47px;
    transition: var(--transition);
}

.footer__col-number:HOVER {
    color: var(--accent-color);
}


.footer__col-copy {
    color: #DEC5B1;
}


.socials {
    line-height: 0;
}

.socials__list {
    display: flex;
    gap: 15px;
}

.socials__link path {
    transition: var(--transition);
}

/* перекрашиваем svg изображение */
.socials__link:HOVER path {
    fill: var(--accent-color);
}









/* ======================================== */
/* ======================================== */
/* ======================================== */

@media (max-width: 1200px) {
    .hero__img {
        margin: 0;
        /* чтобы текст был по ширине равен изображению */
        max-width: 377px;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 20px;
    }

    /* ============================== */

    .footer__inner {
        justify-content: space-between;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(3, auto);
        gap: 40px 30px;
    }

    .footer__col:last-child {
        grid-column: 1/ -1;
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .about__img {
        grid-row: auto;
    }

    .about__grid {
        grid-column: 1 / -1;
    }

    .about__grid-item {
        max-width: 100%;
        justify-content: start;
    }

    .about__content {
        align-self: center;
    }
}

/* на ширине до 900px не будет навигации, но будет бургер-меню */
@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;
        max-height: 100%;

        transform: translateY(-50%);
        opacity: 0;
        /* чтобы нельзя было нажать */
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 4vh 40px;
    }

    /* чтобы оранжевые кружки не появлялись в бургер-навигации */
    .nav__link:HOVER::before {
        opacity: 0;
    }

    .nav__link {
        transition: var(--transition);
    }

    .nav__link:HOVER {
        font-size: 27px;
        color: var(--accent-color);
    }

    .burger-icon {
        display: flex;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    /* ==================================== */

    .footer__inner {
        justify-content: center;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: repeat(1, auto);
        gap: 10px;
    }

    .footer__col {
        text-align: center;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* =================================== */

    .about__inner {
        grid-template: none;
    }

    .about__img {
        max-width: 500px;
        justify-self: center;
    }

    .about__content {
        text-align: center;
    }

    .about__grid {
        grid-template: none;
    }

}

@media (max-width: 800px) {
    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin: 0 0 30px;
    }

    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 600px) {

    .main__about {
        padding: 60px 0 90px;
    }

    .title {
        font-size: 12vw;
    }

    /* =================================== */

    .header__hero {
        padding-bottom: 80px;
    }

    /* ================================= */

    .about__img-control {
        bottom: 0;
        right: 0;
        left: 0;
        max-width: none;
        border-radius: 0;
        padding: 10px 15px;
    }

    .about__grid {
        gap: 20px;
    }

    .about__grid-item {
        padding: 20px 15px;
    }
}

@media (max-width: 450px) {
    .modal__window {
        padding: 0 15px 30px;
    }

    .modal__img {
        max-width: 60%;
    }
}

@media (max-width: 400px) {
    .modal__title {
        margin-top: 100px;
    }
}