:root {
    --general-text: #312C27;
    --accent-text: #1F1711;
    --general-bg: #FFF9F4;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: var(--general-text);
    background: var(--general-bg);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    /* чтобы точно всегда сайт был на весь viewport */

    overflow: hidden;

    display: flex;
    flex-direction: column;
    /* чтобы header и footer всегда прижимались к верху и низу */
}

.main {
    /* чтобы header и footer всегда прижимались к верху и низу */
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* высоту кнопки лучше задавать через height а не через padding чтобы кнопка могла нормально уменьшатьс */
.button {
    display: flex;
    height: 62px;
    justify-content: center;
    align-items: center;
    background: var(--accent-color);
    padding: 3px 15px;
    border-radius: 60px;
    line-height: 1.6;
    font-weight: 500;
    transition: all 0.4s;
}

.button:HOVER {
    background: #FF9138;
}

/* ======================================== */

.header {
    /* 50% чтобы всегда был виден цетр по Ox
    100% чобы всегда был виден низ по Oy */
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
    margin-top: 19px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    max-width: 174px;
    margin-right: 10px;
}

.nav {
    max-height: 60px;
}

.nav__list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: end;
    padding-bottom: 7px;
    gap: 40px;
}

.nav__link {
    /* чтобы пользователю было удобнее попасть на ссылку */
    padding: 5px 0;
    position: relative;
    /* необходимо поднять ссылки на один уровень по оси z чтобы HOVER не скрывался за bg при z-index равным -1*/
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -11px;
    left: -15px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    z-index: -1;
    background: var(--accent-color);
    /* используем не display: none; тк display не подвержен свойству transition => плавного перехода не будет */
    opacity: 0;
    transition: all .4s;

}

.nav__link:HOVER::before {
    opacity: 1;
}

.hero {
    padding: 50px 0px 140px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.hero__content {
    max-width: 520px;
}

.hero__subtitle {
    color: #B197B3;
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.hero__subtitle span {
    display: flex;
    align-items: center;
}

.hero__subtitle span::after {
    content: '';
    background: #B197B3;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: block;
    /* задается расстояние между тегами span */
    margin: 0 10px;
}

.hero__subtitle span:last-child:after {
    content: none;
}

.hero__title {
    color: var(--accent-text);
    font-family: Gabriola;
    font-size: 74px;
    line-height: 82%;
    margin-bottom: 30px;
}

.hero__text {
    max-width: 360px;
    color: var(--general-text);
    margin-bottom: 40px;
}

/* создаем этот класс тк кнопка переиспользуется с другой шириной на странице */
.hero__button {
    max-width: 360px;
}

.hero__img {}

.hero__img-control {}

.hero__img-button {}