:root {
    --general-bg: #fff8f6;
    --accent-text: #000;
    --general-text-1: #454545;
    --general-text-2: #828181;
    --accent-color: #f6623e;
    /* #efd4cc */
}

.body {
    font-family: "Jost", "Arial", sans-serif;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1950px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.body--opened-menu {
    overflow: hidden;
}

/* ================= */

.header {
    width: 100%;
    height: 98px;
    font-weight: 400;
    font-size: 18px;
    color: var(--accent-text)
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.header__logo {
    margin: 0 10px;
}

.header__logo img{
    width: 100%;
}

.nav__list {
    display: flex;
    align-items: end;
    gap: 70px;
    margin: 0 15px;
}

.nav__link {
    transition: all .4s;
}

.nav__link:HOVER {
    color: var(--accent-color);
}

.user__list {
    margin-top: 5px;
    display: flex;
    gap: 30px;
}

.user__link path {
    transition: all .4s;
}

.user__link:HOVER path {
    fill: var(--accent-color);
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 35px;
    height: 2px;
    border-radius: 100px;
    background: var(--accent-text);
    transition: var(--transition);
}

.burger-icon span::after {
    width: 25px;
}

.burger-icon span {
    position: relative;
}

/* размещение двух дополнительных полосок */
.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -6px;
}

.burger-icon span::after {
    bottom: -6px;
    right: 0px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(30deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    width: 35px;
    transform: rotate(-30deg);
}
/* ========================== */

.hero {
    background: var(--general-bg);
    border-radius: 0 0 200px 200px;
    padding: 208px 175px 208px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
}

.hero__subtitle {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.61538;
    color: var(--accent-color);
    margin-bottom: 4px;
}

.hero__title {
    font-weight: 600;
    font-size: 4vw;
    line-height: 1.39394;
    color: var(--accent-text);
    margin-bottom: 30px;
}

.hero__text {
    max-width: 578px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.45;
    color: var(--general-text-1);
    margin-bottom: 30px;
}

.hero__button {
    max-width: 151px;
    height: 47px;
    padding: 14px 30px;
    background: var(--accent-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .4s;
}

.hero__button:HOVER {
    background: #fff;
    color: var(--accent-text);
    border: 1px solid var(--accent-color)
}

.hero__img {
    max-width: 885px;
    margin-top: 14px;
    margin-bottom: 13px;
    margin-left: 30px;
}

.hero__img img {
    width: 100%;
}

/* ===================== */
/* ===================== */
/* ===================== */

@media (max-width: 1600px){
    .hero {
        padding: 100px 100px 100px;
    }
}

@media (max-width: 1200px) {
    .nav__list {
        gap: 40px;
    }

    .user__list {
        gap: 20px;
    }

    /* ============== */

    .hero__inner {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .hero__button {
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .hero__img{
        margin-left: 0;
    }
}

/* бургер */
@media (max-width: 1000px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: #fff;
        text-align: center;
        max-height: 100%;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .nav__link {
        display: inline-block;
    }

    .burger-icon {
        display: flex;
    }

    .body--opened-menu .nav {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 900px) {
    .hero {
        border-radius: 0 0 100px 100px;
        padding: 50px 50px 50px;
    }

    .hero__button {
        margin-bottom: 40px;
    }
}

@media (max-width: 800px) {
    .hero__title {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .hero {
        padding: 20px 20px 20px;
    }
}

@media (max-width: 450px) {
    .hero__button {
        margin-bottom: 20px;
    }

    .user__list {
        gap: 10px;
    }
}