:root {
    --general-bg: #fff8f6;
    --accent-text: #000;
    --general-text-1: #454545;
    --general-text-2: #828181;
    --accent-color: #f6623e;
    --transition: all .4s;
    /* #efd4cc */
}

.body {
    font-family: "Jost", "Arial", sans-serif;
}

.body--fixed {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.body--opened-menu {
    overflow: hidden;
}

.modal {
    position: fixed;
    inset: 0;
    background: #00000071;
    z-index: 10;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.modal--opened {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    max-width: 700px;
    width: 100%;
    height: 600px;
    background: #fff;
    border-radius: 50px;
    padding: 0 60px 60px;
    position: relative;
    z-index: 1;
}

.modal__window::after {
    content: '';
    position: absolute;
    max-width: 650px;
    width: 100%;
    height: 550px;
    border-radius: 50px;
    border: 10px solid var(--general-bg);
    background: transparent;
    inset: 3.8%;
    z-index: -1;
}

.modal__cancel {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    z-index: 11;
    position: absolute;
    top: 38px;
    right: 50px;
}

.modal__cancel span {
    display: block;
    width: 35px;
    height: 2px;
    border-radius: 100px;
    background: var(--accent-color);
    transform: rotate(30deg);
}

.modal__cancel span::after {
    content: '';
    display: block;
    width: 35px;
    height: 2px;
    border-radius: 100px;
    background: var(--accent-color);
    transform: rotate(-60deg);
}

.modal__img {
    position: absolute;
    left: -19px;
    top: -29px;
    max-width: 150px;
    width: 100%;
}

.modal__img img {
    width: 100%;
}

.modal__title {
    margin-top: 130px;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    color: var(--accent-text);
    margin-bottom: 30px;
}

.modal__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.45;
    color: var(--general-text-1);
    margin-bottom: 30px;
}

.modal__form {
    margin-top: 20px;
    margin-bottom: 40px;
}

.modal__form-label {
    display: block;
}


.modal__input {
    display: block;
    width: 100%;
    padding: 19px 28px;
    background: transparent;
    border: 1px solid var(--accent-text);
    border-radius: 100px;
    margin-bottom: 10px;
    font-size: 24px;
    transition: var(--transition);
}

.modal__button {
    max-width: 153px;
    height: 47px;
    padding: 14px 30px;
    background: var(--accent-color);
    border: 1px solid var(--accent-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--transition);
}

.modal__button:hover {
    background: #fff;
    color: var(--accent-text);
    border: 1px solid var(--accent-color)
}

/* ================= */

.header {
    width: 100%;
    height: 98px;
    font-weight: 400;
    font-size: 18px;
    color: var(--accent-text)
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.header__logo {
    margin: 0 10px;
}

.header__logo img {
    width: 100%;
}

.nav__list {
    display: flex;
    align-items: end;
    gap: 70px;
    margin: 0 15px;

    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: var(--accent-text);
}

.nav__link {
    transition: var(--transition);
}

.nav__link:hover {
    color: var(--accent-color);
}

.user__list {
    margin-top: 5px;
    margin-right: 10px;
    display: flex;
    gap: 30px;
}

.user__list:last-child {
    position: relative;
}

.user__list:last-child::after {
    content: '0';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--accent-color);
    position: absolute;
    right: -7px;
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 10px;
    line-height: 1;
}

.user__link path {
    transition: var(--transition);
}

.user__link:hover path {
    fill: var(--accent-color);
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon:hover span,
.burger-icon:hover span::before,
.burger-icon:hover span::after {
    background: var(--accent-color);
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 35px;
    height: 2px;
    border-radius: 100px;
    background: var(--accent-text);
    transition: var(--transition);
}

.burger-icon span::after {
    width: 25px;
}

.burger-icon span {
    position: relative;
}

/* размещение двух дополнительных полосок */
.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -6px;
}

.burger-icon span::after {
    bottom: -6px;
    right: 0px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    background: var(--accent-color);
    top: 0px;
    transform: rotate(30deg);
}

.body--opened-menu .burger-icon span::after {
    background: var(--accent-color);
    bottom: 0px;
    width: 35px;
    transform: rotate(-30deg);
}

/* ========================== */

.hero {
    background: var(--general-bg);
    border-radius: 0 0 200px 200px;
    padding: 208px 175px 208px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
}

.hero__subtitle {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.61538;
    color: var(--accent-color);
    margin-bottom: 4px;
}

.hero__title {
    font-weight: 600;
    font-size: 3vw;
    line-height: 1.39394;
    color: var(--accent-text);
    margin-bottom: 30px;
}

.hero__text {
    max-width: 578px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.45;
    color: var(--general-text-1);
    margin-bottom: 30px;
}

.hero__button {
    max-width: 153px;
    height: 47px;
    padding: 14px 30px;
    background: var(--accent-color);
    border: 1px solid var(--accent-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--transition);
}

.hero__button:hover {
    background: #fff;
    color: var(--accent-text);
    border: 1px solid var(--accent-color)
}

.hero__img {
    max-width: 885px;
    margin-top: 14px;
    margin-bottom: 13px;
    margin-left: 30px;
}

.hero__img img {
    width: 100%;
}

/* ==================== */

.advantages {
    padding: 0 30px;
    margin-top: 100px;
}

.advantages__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__subtitles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 170px;
}

.subtitles__item {
    font-weight: 600;
    font-size: 28px;
    color: var(--general-text-2);
}

.advantages__title {
    max-width: 540px;
    margin-top: 90px;

    font-weight: 600;
    font-size: 40px;
    line-height: 1.525;
    text-align: center;
    color: var(--accent-text);
}

.advantages__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 97px;
}

.info__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    max-width: 370px;
    height: 370px;
    background: transparent;
    padding: 10px;
}

.info-item__img {
    border-radius: 20px;
    max-width: 100px;
    height: 100px;
    padding: 19px;
    margin-top: 44px;
    background: var(--general-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-item__img img {
    width: 100%;
}

.info-item__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.13333;
    text-align: center;
    color: var(--accent-text);
    margin-top: 33px;
}

.info-item__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    color: var(--general-text-2);
    margin-top: 16px;
}

.info__item-accent {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    max-width: 370px;
    height: 370px;
    background: var(--general-bg);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.info-item-accent__img {
    border-radius: 20px;
    max-width: 100px;
    height: 100px;
    padding: 19px;
    margin-top: 44px;
    background: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-item-accent__img img {
    width: 100%;
}

.info-item-accent__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.13333;
    text-align: center;
    color: var(--accent-text);
    margin-top: 33px;
}

.info-item-accent__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    color: var(--general-text-2);
    margin-top: 16px;
}

/* ================================================= */

.about {
    position: relative;
    z-index: 1;
    margin-top: 400px;
    padding: 0 120px;
}

.about::before {
    content: '';
    border-radius: 0 0 200px 0;
    width: 57%;
    height: 160%;
    background: var(--general-bg);

    position: absolute;
    z-index: -2;
    left: 0;
    bottom: -142px;
}

.about__img {
    display: inline-block;
    position: absolute;
    z-index: -1;
    left: -119px;
    top: -116px;
}

.about__inner {
    display: flex;
    gap: 68px;
    align-items: center;
}

.about__information {
    max-width: 590px;
    display: flex;
    flex-wrap: wrap;
    gap: 75px 73px;
    margin-right: 68px;
}

.about-information__item {
    max-width: 257px;
    background: transparent;
}

.information-item__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.29167;
    color: var(--accent-text);
    margin-bottom: 15px;
}

.information-item__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5625;
    color: var(--general-text-2);
}

.about__content {
    max-width: 952px;
    display: flex;
    align-items: center;
    gap: 71px;
}

.content__img {
    max-width: 509px;
    position: relative;
}

.content__img img {
    width: 100%;
}

.content__title {
    max-width: 410px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.46429;
    color: var(--accent-text);

    position: absolute;
    right: -280px;
    top: -300px;
}

.content__text-button {
    max-width: 380px;
    flex-shrink: 1;
}

.content__text-1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: var(--general-text-2);
    margin-bottom: 30px;
}

.content__text-2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: var(--general-text-2);
    margin-bottom: 88px;
}

.content__button {
    border: 2px solid var(--accent-color);
    max-width: 239px;
    width: 100%;
    height: 56px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5625;
    text-align: center;
    color: var(--accent-text);
    transition: var(--transition);
}

.content__button:hover {
    background: var(--accent-color);
    color: #fff;
}

/* =============================================== */

.product {
    margin-top: 260px;
    border-radius: 0 0 0 200px;
    background-color: var(--general-bg);
    padding: 112px 120px;
}

.product__inner {
    display: flex;
    align-items: center;
    gap: 136px;
}

.product__img {
    max-width: 682px;
    border-radius: 100%;
    background: #fef0e7;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 97px;
}

.product__img img {
    width: 100%;
}

.product__description {
    display: flex;
    flex-direction: column;
}

.description__title {
    max-width: 770px;
    margin-bottom: 33px;

    font-weight: 600;
    font-size: 50px;
    line-height: 1.44;
    letter-spacing: 0.06em;
    color: var(--accent-text);
}

.description__price {
    margin-bottom: 33px;
    display: flex;
    gap: 23px;
}

.description__price-new {
    font-weight: 600;
    font-size: 34px;
    line-height: 0.58824;
    color: var(--accent-color);
}

.description__price-old {
    font-weight: 500;
    font-size: 24px;
    line-height: 0.83333;
    text-decoration: line-through;
    color: var(--general-text-2);
}

.description__text {
    max-width: 690px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    color: var(--general-text-1);
    margin-bottom: 45px;
}

.description__button {
    max-width: 156px;
    height: 56px;
    padding: 14px 30px;
    background: #fff;
    border: 1px solid var(--accent-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: var(--accent-text);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--transition);
}

.description__button:hover {
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: #fff;
}

/* ===================== */

.goods {
    margin-top: 54px;
    padding-left: 109px;
    padding-right: 25px;
}

.goods__inner {
    display: flex;
    align-items: center;
}

.products__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 5.125;
    letter-spacing: 0.06em;
    color: var(--accent-color);
}

.products__title {
    font-weight: 700;
    font-size: 46px;
    line-height: 1.13043;
    letter-spacing: 0.02em;
    color: var(--accent-text);
    margin-bottom: 35px;
}

.products__text {
    max-width: 807px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.88889;
    letter-spacing: 0.06em;
    color: var(--general-text-2);
    margin-bottom: 80px;
}

.products__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.products__wrapper {
    max-width: 986px;
}

.products__slide {
    max-width: 305px;
}

.products-slide__img {
    border-radius: 10px;
    max-width: 305px;
    margin-bottom: 13px;
}

.products-slide__img img {
    width: 100%;
}

.products-slide__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: 0.06em;
    color: var(--accent-text);
    margin-bottom: 11px;
}

.products-slide__price-new {
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.33333;
    color: var(--accent-color);
}

.products-slide__price-old {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857;
    text-decoration: line-through;
    color: var(--general-text-2);
}

.swiper-button-next,
.swiper-button-prev {
    z-index: 10;
    width: 30px;
    height: 30px;
    top: 44%;
}

.swiper-button-prev {
    left: -13px;
}

.swiper-button-next {
    right: -13px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: #fff;
    font-size: 12px;

    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: var(--accent-color);

    padding: 9px 0px 0px 11px;
    transition: var(--transition);
}

.swiper-button-prev::after {
    padding: 9px 0px 0px 11px;
}

.swiper-button-next::after {
    padding: 9px 0px 0px 12px;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
    color: var(--accent-color);
    background: #fff;
}

.products__prev {}

.products__next {}


.goods__img {
    max-width: 884px;
}

.goods__img img {
    width: 100%;
}








/* ======================== */

.contact {
    margin-top: 77px;
    margin: 77px 15px 0 15px;
}

.contact__inner {
    display: flex;
    justify-content: space-between;
}

.contact__col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__logo {
    max-width: 138px;
    margin-bottom: 10px;
}

.contact__logo img {
    width: 100%;
}

.col-2 {
    max-width: 570px;
    width: 100%;
}

.contact__text-1 {
    max-width: 326px;
    text-align: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: var(--general-text-1);
}

.contact__title-1 {
    font-weight: 500;
    font-size: 26px;
    line-height: 1;
    color: var(--accent-text);
    margin-bottom: 10px;
}

.contact__text-2 {
    max-width: 348px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: var(--general-text-1);
    margin-bottom: 32px;
}

.contact__subscribe {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.contact__input {
    font-weight: 400;
    font-size: 16px;
    color: var(--accent-text);
}

.contact__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: var(--accent-text);
}

.contact__button {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.625;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    color: var(--accent-color);
    transition: var(--transition);
}

.contact__button:hover {
    color: var(--accent-text);
}

.contact__line {
    width: 100%;
    height: 2px;
    background: var(--accent-text);
}

.col-3 {
    max-width: 326px;
    width: 100%;
    align-items: center;
}

.contact__title-2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: #000;
    margin-bottom: 13px;
    margin-right: 30px;
}

.contact__list {
    margin-bottom: 5px;
}

.contact__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.0625;
    color: #454545;
}

.contact__link {
    padding: 3px 0;
    transition: var(--transition);
}

.contact__link:hover {
    color: var(--accent-color);
}


/* ==================== */

.footer {
    margin: 40px 15px 20px 15px;
}

.footer__line {
    background: var(--general-text-2);
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__socials {
    display: flex;
    max-width: 420px;
    width: 100%;
    gap: 10px;
}

.socials__link {
    padding: 10px;
}

.socials__item path {
    transition: var(--transition);
}

.socials__item:hover path {
    fill: var(--accent-color);
}

.footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: var(--accent-text);
}

.footer__text span {
    color: var(--accent-color);
}

.footer__pay {
    max-width: 420px;
}

.footer__pay img {
    width: 100%;
}

/* ===================== */
/* ===================== */
/* ===================== */

@media (max-width: 1800px) {
    .about::before {
        height: 150%;
        width: 975px;
    }

    .about__inner {
        justify-content: center;
    }

    .about__information {
        max-width: 470px;
        gap: 40px 40px;
        margin-right: 40px;
        padding: 0 15px;
    }

    .about-information__item {
        max-width: 200px;
    }

    .about__content {
        gap: 50px;
    }

    .content__title {
        font-size: 50px;
        right: -295px;
        top: -264px;
    }
}

@media (max-width: 1700px) {

    .about::before {
        height: 165%;
        width: 901px;
    }

    .about__inner {
        justify-content: center;
    }

    .about__information {
        max-width: 470px;
        gap: 40px 40px;
        margin-right: 40px;
        padding: 0 15px;
    }

    .about-information__item {
        max-width: 200px;
    }

    .about__content {
        gap: 50px;
    }
}

@media (max-width: 1600px) {
    .hero {
        padding: 100px 100px 100px;
    }

    /* ================ */

    .about {
        padding: 0 15px;
    }

    .about::before {
        height: 150%;
        width: 901px;
    }

    /* ================= */

    .product {
        padding: 50px 20px;
    }
}

@media (max-width: 1500px) {

    .product__inner {
        gap: 80px;
    }

    .description__title {
        font-size: 3vw;
    }

    .description__price {
        flex-direction: column;
    }

    /* =============== */

    .about::before {
        height: 165%;
        width: 818px;
    }


    /* =========== */

    .footer__socials {
        max-width: 170px;
        padding-top: 10px;
    }

    .footer__inner {
        flex-direction: column;
        align-items: center;
    }

    .footer__text {
        margin-bottom: 15px;
    }

}

@media (max-width: 1400px) {

    .about {
        margin-top: 250px;
    }

    .about::before {
        height: 175%;
        width: 780px;
    }

    .about__inner {
        gap: 20px;
    }

    .content__title {
        font-size: 40px;
        right: -295px;
        top: -154px;
    }
}

@media (max-width: 1300px) {

    .about {
        margin-top: 0px;
        border-radius: 0 0 200px 0;
        width: 100%;
        height: auto;
        background: var(--general-bg);
        padding-top: 180px;
    }

    .about::before {
        display: none;
    }

    .about__img {
        display: none;
    }

    .about__inner {
        border-radius: 0 0 200px 0;
        width: 100%;
        height: auto;
        background: var(--general-bg);

        flex-direction: column-reverse;
        align-items: start;
    }

    .about__information {
        max-width: 100%;
        margin-right: 0;
        padding: 0 15px;
        margin-bottom: 50px;
    }

    .about-information__item {
        max-width: 500px;
    }

    .about__content {
        max-width: 100%;
        height: auto;
        gap: 50px;
        margin-bottom: 30px;
    }

    .content__title {
        font-size: 36px;
        right: 100px;
        top: -140px;
    }


    .content__text-1 {
        margin-bottom: 15px;
    }

    .content__text-2 {
        margin-bottom: 30px;
    }

    /* ================ */

    .product {
        margin-top: 50px;
    }

    /* ============== */

    .contact__inner {
        justify-content: center;
        gap: 50px;
    }

    .col-3 {
        max-width: 140px;
    }
}

@media (max-width: 1200px) {
    .nav__list {
        gap: 40px;
    }

    .user__list {
        gap: 20px;
    }

    /* ============== */

    .hero__inner {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .hero__title {
        font-size: 40px;
    }

    .hero__button {
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .hero__img {
        margin-left: 0;
    }

    /* ================ */

    .product {
        margin-top: 100px;
    }

    .product__img {
        min-width: 500px;
    }
}

/* бургер */
@media (max-width: 1000px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: #fff;
        text-align: center;
        max-height: 100%;

        transform: translateX(-100%);
        visibility: hidden;
        transition: all 1s cubic-bezier(0.2, 0.6, 0, 1);

    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 2.5vh 40px;
        margin-top: 250px;
        font-size: 25px;
        line-height: 30px;
    }

    .nav__item:nth-child(1) {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 1s cubic-bezier(0.2, 0.6, 0, 1);
    }

    .body--opened-menu .nav__item:nth-child(1) {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .nav__item:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 1s .1s cubic-bezier(0.2, 0.6, 0, 1);
    }

    .body--opened-menu .nav__item:nth-child(2) {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .nav__item:nth-child(3) {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 1s .2s cubic-bezier(0.2, 0.6, 0, 1);
    }

    .body--opened-menu .nav__item:nth-child(3) {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .nav__item:nth-child(4) {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 1s .3s cubic-bezier(0.2, 0.6, 0, 1);
    }

    .body--opened-menu .nav__item:nth-child(4) {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .nav__item:nth-child(5) {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 1s .4s cubic-bezier(0.2, 0.6, 0, 1);
    }

    .body--opened-menu .nav__item:nth-child(5) {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .nav__item:nth-child(6) {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 1s .5s cubic-bezier(0.2, 0.6, 0, 1);
    }

    .body--opened-menu .nav__item:nth-child(6) {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    /* ================ */

    .advantages__info {
        gap: 30px 80px;
    }

    /* ================ */

    .product__inner {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .product__description {
        align-items: center;
        text-align: center;
    }

    .description__title {
        font-size: 28px;
    }

    .description__text {
        margin-bottom: 25px;
    }
}

@media (max-width: 900px) {
    .hero {
        border-radius: 0 0 100px 100px;
        padding: 50px 50px 50px;
    }

    .hero__button {
        margin-bottom: 40px;
    }

    /* ============ */

    .advantages__info {
        margin-top: 0px;
    }

    /* ============== */

    .content__title {
        font-size: 30px;
        top: -163px;
    }
}

@media (max-width: 801px) {
    .modal__window {
        max-width: 500px;
        height: 400;
        border: 20px solid var(--general-bg);
        padding: 0 30px 30px;
    }

    .modal__cancel {
        top: 0px;
        right: 12px;
    }

    .modal__img {
        left: -63px;
        top: -39px;
    }

    .modal__window::after {
        display: none;
    }

    .modal__title {
        font-size: 30px;
    }

    /* ==================== */

    .header__logo {
        display: none;
    }

    /* ==================== */

    .hero__title {
        font-size: 30px;
    }

    /* ==================== */

    .advantages__subtitles {
        flex-direction: column;
        align-items: center;
        font-size: 18px;
    }

    .subtitles__item {
        font-weight: 500;
        font-size: 4vw;
    }

    .advantages {
        margin-top: 50px;
    }

    .advantages__title {
        font-size: 30px;
        margin-top: 50px;
    }

    .advantages__info {
        gap: 10px;
    }

    /* ====================== */

    .about__inner {
        align-items: center;
    }

    .about__information {
        justify-content: center;
        text-align: center;
    }

    .about__content {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .content__img {
        max-width: 509px;
        width: 100%;
    }

    .content__title {
        font-size: 36px;
        right: 100px;
        top: -132px;
    }

    .content__text-button {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        text-align: center;
        align-items: center;
    }

    /* ================= */

    .contact__inner {
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {

    .hero {
        padding: 20px 10px;
    }

    /* ================= */

    .advantages {
        margin-top: 50px;
    }

    .advantages__title {
        font-size: 24px;
    }

    /* =================== */

    .about {
        border-radius: 0 0 100px 0;
    }

    .content__title {
        font-size: 33px;
    }

    /* ================== */

    .product {
        margin-top: 60px;
        border-radius: 0 0 0 100px;
    }

    .product__inner {
        gap: 35px;
        padding: 30px 20px;
    }

    .product__img {
        max-width: 400px;
        min-width: 100px;
        background: transparent;
        padding: 0;
    }

    /* ================ */

    .contact {
        margin-top: 50px
    }
}

@media (max-width: 450px) {

    .modal__title {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .modal__text {
        margin-bottom: 15px;
    }

    .modal__form {
        margin-bottom: 20px;
    }

    /* ================= */

    .user__list {
        gap: 10px;
    }

    /* ================== */

    .hero__button {
        margin-bottom: 20px;
    }

    /* ================= */

    .info-item__img {
        margin-top: 24px;
    }

    .info-item-accent__img {
        margin-top: 24px;
    }

    /* ==================== */

    .about {
        padding-top: 100px;
    }

    .content__title {
        font-size: 22px;
        right: 100px;
        top: -85px;
    }

}