body {
    background-color: #181e34;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

header {
    padding: 30px 0 36px;
}

.container {
    max-width: 930px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header_inner {
    display: flex;
    align-items: center;
}

.header_nav {
    margin-left: auto;
}

.header_list {
    display: flex;
}

.header_item {
    margin-right: 30px;
}

.header_button {
    margin-left: 4px;
    border-radius: 100px;
    padding: 14px 30px;
    width: 113px;
    height: 48px;
    background-color: #fff;
    font-weight: 500;
    font-size: 16px;
    color: #2766ae;
}

.info1 {
    background: url("../img/bg.jpg") 10% 50% / cover no-repeat;
    padding: 120px 0;
}

.info1_title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.info1_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info1_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 436px;
}

.paragraph {
    margin-bottom: 15px;
}

.info1_text span {
    font-weight: 700;
    text-transform: uppercase;
    color: #01a2cb;
}

.info1_buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
}

.info1_button1,
.info1_button2 {
    border-radius: 100px;
    padding: 18px 30px;
    display: flex;
    justify-content: center;
}

.info1_button1 {
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    margin-bottom: 10px;
}

.info1_button2 {
    background: linear-gradient(129deg, #00a4cc 0%, #2766ae 100%);
}

.info1_button2 img {
    margin-left: 4px;
}

.info2 {
    margin-top: 120px;
    margin-bottom: 138px;
}

.info2_title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;

}

.info2_text {
    text-align: center;
    margin: 0 auto 60px;
    max-width: 513px;
}

.info2_content {
    max-width: 900px;
}

.info2_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -28px;
    margin-bottom: 30px;
}

.info2_element {
    box-shadow: 4px 4px 13px 0 rgba(5, 13, 41, 0.76);
    background: #197cb8;
    border: 2px solid #176bae;
    border-radius: 16px;
    padding: 28px;
    max-width: 204px;
    margin-bottom: 28px;
}

.info2_element_title {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
}

.info2_element_text {
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #fff;
}

.info2_button {
    display: block;
    text-align: center;
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    border-radius: 100px;
    padding: 18px 30px;
    max-width: 436px;
    margin: 0 auto;
}

.fotter {
    padding: 60px 0;
    border-top: 1px solid #323952;
    width: 1440px;
    height: 361px;
    background: #181e34;
}

.fotter_inner {
    display: flex;
}

.fotter_logo_text a {
    display: inline-block;
    margin-bottom: 15px;
}

.fotter_logo_text {
    max-width: 267px;
    margin-right: auto;
}

.fotter_title {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.fotter_item {
    line-height: 24px;
    margin-bottom: 10px;
}

.fotter_column1 {
    margin-right: 117px;
}